:root {
	--dark-gray: #bfbfbf;
	--gray: #dddddd;
	--green: #16db99;
	--white: #ffffff;
}

html, body, h1, h2, p, .subheader {
	margin: 0;
}

body, html {
	background-color: var(--white);
	height: 100%;
}

.smythe-regular {
	font-family: "Smythe", system-ui;
	font-weight: 400;
	font-style: normal;
}

#wrapper {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

#header-img {
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
		aspect-ratio: 553/167;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 1.4rem;
}

h1 {
	font-size: 2.6rem;
}

h1, .subheader {
	color: var(--white);
	font-weight: normal;
}

.subheader {
	font-size: 1.2rem;
	margin-top: .05rem;
}

h2 {
	text-align: center;
	font-size: 2.2rem;
	margin-block:.7rem .5rem;
}

#main {
	flex-grow: 1;
	overflow-y: auto;
	margin-top: .8rem
}

/* ~~~~~~~~~~ MENU ~~~~~~~~~~ */

#menu hr {
  border-top: .5px solid var(--dark-gray);
  border-bottom: none;
	margin: 1.1rem 4.5%;
}

.menu-item {
	display: grid;
	grid-template-columns: max-content 7fr 1fr;
	align-items: center;
	margin-inline: .3rem .8rem;
}

.emoji {
	font-size:5.2rem;
}

button {
	font-family: "Roboto", sans-serif;
}

.menu-item-text {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding-inline: .5rem;
	padding-top: .5rem;
}

.item-name {
	font-size: 1.45rem;
}

.item-ingredients {
	font-size: 1rem;
}

.item-price {
	font-size: 1.3rem;
	margin-top: .2rem;
}

.add-remove {
		padding-right:.4rem;
}
.add-remove-btn {
	align-self: center;
	justify-self: start;
	background-color: var(--white);
	border: 1.5px solid var(--gray);
	border-radius: 100%;
	width:2.5rem;
	height:2.5rem;
	font-size:1.4rem;
	font-weight: lighter;
}

#add-remove-btn:active {
	background-color: var(--gray);
	border: 1.5px solid var(--white);
}

  /* ~~~~~~~~~~ CUSTOMER ORDER SUMMARY ~~~~~~~~~~ */

#order-summary {
	display: none;
	flex-direction: column;
	flex: 1;
	padding: 0 4.5% .8rem 4.5%;
	align-items: stretch;
	.item-name {
		font-size: 1.35rem;
	}
}

#selection-list {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding-top: .8rem;
}

.selection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.item-name-and-remove-btn {
	display: flex;
	flex-direction: row;
	gap: .5rem;
}

.remove-btn {
	background: none;
	border: none;
	font-size: .85rem;
	color: #bbbbbb;
}

/* .multiple-item {
	display: none;
	font-size:1.4rem;
	font-weight: lighter;
} */

.total-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1.7px var(--dark-gray) solid;
	padding-block: .7rem 1.5rem;
	margin-top: .7rem;
	p {
		font-size: 1.35rem;
	}
}

.total-item-cost, #order-total {
	font-family: "Roboto", sans-serif;
	font-size: .9rem;
	font-weight: 500;
}

.green-btn {
	background-color: var(--green);
	color: white;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	height:3rem;
	font-size:1.05rem;
}

/* ~~~~~~ pay modal ~~~~~~ */

#pay-modal {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	padding: 1rem;
	margin:1.2rem;
	border-radius: 4px;
	box-shadow: 0 0 200px 30px var(--dark-gray);
	h2 {
		padding-top: .4rem;
		font-size: 1.2rem;
	}}

#pay-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: .85rem;
}

input {
	border: solid 1px #757575;
	border-radius: 4px;
	padding: .75rem;
}

input::placeholder {
	color: #757575;
}

.thank-you-note {
	font-size: 1.5rem;
	text-align: center;
	background-color: #ECFDF5;
	color: #065F46;
	margin: 1.8rem 1.5rem;
	padding: 1.8rem;
}